module actual_network_data

  implicit none

  <nrates>(1)

  ! Evolution and auxiliary
  <nspec_evolve>(1)
  integer, parameter :: naux  = 0

  ! Number of nuclear species in the network
  <nspec>(1)

  ! Number of reaclib rates
  <nrat_reaclib>(1)
  
  ! Number of tabular rates
  <nrat_tabular>(1)

  ! Binding Energies Per Nucleon (MeV)
  double precision :: ebind_per_nucleon(nspec)

  ! aion: Nucleon mass number A
  ! zion: Nucleon atomic number Z
  ! nion: Nucleon neutron number N
  ! bion: Binding Energies (ergs)

  ! Nuclides
  <jion>(1)

  ! Reactions
  <nrxn>(1)

  ! reactvec indices
  integer, parameter :: i_rate        = 1
  integer, parameter :: i_drate_dt    = 2
  integer, parameter :: i_scor        = 3
  integer, parameter :: i_dscor_dt    = 4
  integer, parameter :: i_dqweak      = 5
  integer, parameter :: i_epart       = 6

  character (len=16), save :: spec_names(nspec) 
  character (len= 5), save :: short_spec_names(nspec)
  character (len= 5), save :: short_aux_names(naux)

  double precision :: aion(nspec), zion(nspec), bion(nspec)
  double precision :: nion(nspec), mion(nspec), wion(nspec)

  !$acc declare create(aion, zion, bion, nion, mion, wion)

end module actual_network_data
