CEXE_headers += network_properties.H

ifeq ($(USE_REACT),TRUE)

  DEFINES += -DNETWORK_HAS_CXX_IMPLEMENTATION

  CEXE_sources += actual_network_data.cpp
  CEXE_headers += actual_network.H
  CEXE_headers += actual_rhs.H
  CEXE_headers += reaclib_rates.H

  USE_SCREENING = TRUE
  USE_NEUTRINOS = TRUE
endif
