language: python
python:
  - '3.6'
  - '3.7-dev'

before_install:
  - export PATH=$(echo $PATH | tr ':' "\n" | sed '/\/opt\/python/d' | tr "\n" ":" | sed "s|::|:|g")

addons:
  apt_packages:
  - pandoc

install:
  - pip install .
  - pip install -r requirements.txt

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)

script:
  - pytest -v --cov=. --nbval --ignore=docs

after_success:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then ./deploy_docs.sh; fi
