# dependencies needed for building the docs
ipykernel
jinja2
numpydoc
Sphinx
sphinx-copybutton
sphinx-math-dollar
sphinx-mdinclude
sphinx-prompt
sphinxcontrib-bibtex
sphinx-book-theme
myst-nb
nbclient!=0.10.3

# for MESA example
mesa-reader
