networkx>=2.1
scipy>=1.0.0
numpy>=1.13.3
sympy>=1.1.1
matplotlib>=2.1.0
jupyter>=1.0.0
ipywidgets>=7.1.2
sphinx_rtd_theme
Sphinx
nbsphinx>=0.3.1
pytest>=3.6
nbval>=0.9.0
numba>=0.40
pytest-cov>=2.6.0
