#ifndef APPROXIMATE_RATES_H
#define APPROXIMATE_RATES_H

#include <amrex_bridge.H>

#include <tfactors.H>
#include <actual_network.H>
#include <rate_type.H>

namespace approximate_rates {

    using namespace Rates;
    using namespace Species;

    <approx_rate_functions>(1)

}
#endif
