#ifndef DERIVED_RATES_H
#define DERIVED_RATES_H

#include <amrex_bridge.H>

#include <tfactors.H>
#include <actual_network.H>
#include <partition_functions.H>

namespace derived_rates {

    using namespace Rates;

    <derived_rate_functions>(1)

}
#endif
