#ifndef DERIVED_RATES_H
#define DERIVED_RATES_H

#include <amrex_bridge.H>

#include <tfactors.H>
#include <actual_network.H>

using namespace Rates;

<derived_rate_functions>(0)

template <int do_T_derivatives, typename T>
inline
void
fill_derived_rates(const tf_t& tfactors, T& rate_eval)
{

    Real rate;
    Real drate_dT;

    <fill_derived_rates>(1)

}
#endif
