#ifndef TABLE_RATES_H
#define TABLE_RATES_H

#include <iostream>
#include <cstdint>
#include <sstream>
#include <fstream>
#include <string>

#include <amrex_bridge.H>

#include <interp_tools.H>

// Table is expected to be in terms of dens*ye and temp (logarithmic, cgs units)
// Table energy units are expected in terms of ergs

// all tables are expected to have columns:
// Log(rhoY)     Log(T)   mu    dQ    Vs    Log(e-cap-rate)   Log(nu-energy-loss)  Log(gamma-energy)
// Log(g/cm^3)   Log(K)   erg   erg   erg   Log(1/s)          Log(erg/s)           Log(erg/s)
//

<table_num>(0)

enum TableVars : std::uint8_t
{
    jtab_rate    = 1,
    jtab_nuloss  = 2,
    jtab_gamma   = 3,
    num_vars = jtab_gamma
};


struct table_t
{
    int ntemp;
    int nrhoy;
    int nvars;
    int nheader;
};


struct weak_rate_t
{
    Real rate;
    Real drate_dT;
    Real enu;
    Real gamma;
};


namespace rate_tables
{
<declare_tables>(1)
}


inline
Real
evaluate_linear_1d(const Real fhi, const Real flo, const Real xhi, const Real xlo, const Real x)
{
    // This function is a 1-D linear interpolator, that keeps x constant to xlo or xhi, based
    // on the side, if x is outside [xlo, xhi] respectively.

    Real xx = amrex::Clamp(x, xlo, xhi);
    Real f = flo + (fhi - flo) * (xx - xlo) / (xhi - xlo);

    return f;
}

inline
Real
evaluate_linear_2d(const Real fip1jp1, const Real fip1j, const Real fijp1, const Real fij,
                   const Real xhi, const Real xlo, const Real yhi, const Real ylo,
                   const Real x, const Real y)
{
    // This is the 2-D linear interpolator, as an extension of evaluate_linear_1d.

    const Real u = (amrex::Clamp(x, xlo, xhi) - xlo) / (xhi - xlo);
    const Real v = (amrex::Clamp(y, ylo, yhi) - ylo) / (yhi - ylo);

    const Real E = fij;
    const Real C = fijp1 - fij;
    const Real B = fip1j - fij;
    const Real A = fip1jp1 - fip1j - fijp1 + fij;

    return A * u * v + B * u + C * v + E;
}


template<typename R, typename T, typename D>
inline
Real
evaluate_vars(const int irhoy_lo, const int jtemp_lo,
              const R& log_rhoy_table, const T& log_temp_table, const D& data,
              const Real log_rhoy, const Real log_temp, const int component)
{
    // This function evaluates the 2-D interpolator, for several pairs of rho_ye and temperature.

    int irhoy_hi = irhoy_lo + 1;
    int jtemp_hi = jtemp_lo + 1;

    Real rhoy_lo = log_rhoy_table(irhoy_lo);
    Real rhoy_hi = log_rhoy_table(irhoy_hi);

    Real t_lo = log_temp_table(jtemp_lo);
    Real t_hi = log_temp_table(jtemp_hi);

    Real fij     = data(jtemp_lo, irhoy_lo, component);
    Real fip1j   = data(jtemp_lo, irhoy_hi, component);
    Real fijp1   = data(jtemp_hi, irhoy_lo, component);
    Real fip1jp1 = data(jtemp_hi, irhoy_hi, component);

    Real r = evaluate_linear_2d(fip1jp1, fip1j, fijp1, fij,
                                       rhoy_hi, rhoy_lo, t_hi, t_lo, log_rhoy, log_temp);

    return r;
}


template<typename R, typename T, typename D>
inline
Real
evaluate_dr_dtemp(const int irhoy_lo, const int jtemp_lo,
                  [[maybe_unused]] const table_t& table_meta, const R& log_rhoy_table, const T& log_temp_table, const D& data,
                  const Real log_rhoy, const Real log_temp)
{

    // Differentiate the same bilinear log-rate interpolant as evaluate_vars.
    // At temperature knots, use the cell selected by find_index_extrap:
    // the cell to the right, except at the upper endpoint (the last cell).

    const int irhoy_hi = irhoy_lo + 1;
    const int jtemp_hi = jtemp_lo + 1;

    const Real log_temp_lo = log_temp_table(jtemp_lo);
    const Real log_temp_hi = log_temp_table(jtemp_hi);

    // The interpolated rate is constant outside the temperature table.
    if (log_temp < log_temp_lo || log_temp > log_temp_hi) {
        return 0.0_rt;
    }

    const Real log_rhoy_lo = log_rhoy_table(irhoy_lo);
    const Real log_rhoy_hi = log_rhoy_table(irhoy_hi);

    const Real fij     = data(jtemp_lo, irhoy_lo, jtab_rate);
    const Real fip1j   = data(jtemp_lo, irhoy_hi, jtab_rate);
    const Real fijp1   = data(jtemp_hi, irhoy_lo, jtab_rate);
    const Real fip1jp1 = data(jtemp_hi, irhoy_hi, jtab_rate);

    // compute the gradients in the T direction: dr/dT |_i and dr/dT |_{i+1}

    const Real dlogT = log_temp_hi - log_temp_lo;
    const Real dlogr_dlogT_i = (fijp1 - fij) / dlogT;
    const Real dlogr_dlogT_ip1 = (fip1jp1 - fip1j) / dlogT;

    return evaluate_linear_1d(dlogr_dlogT_ip1, dlogr_dlogT_i,
                              log_rhoy_hi, log_rhoy_lo, log_rhoy);
}


template <int do_T_derivatives, typename R, typename T, typename D>
inline
void
get_entries(const int irhoy_lo, const int jtemp_lo,
            const table_t& table_meta, const R& log_rhoy_table, const T& log_temp_table, const D& data,
            const Real log_rhoy, const Real log_temp,
            weak_rate_t& entries)
{

    // only interpolate the quantities we currently use

    entries.rate = evaluate_vars(irhoy_lo, jtemp_lo,
                                 log_rhoy_table, log_temp_table, data,
                                 log_rhoy, log_temp, jtab_rate);

    entries.enu = evaluate_vars(irhoy_lo, jtemp_lo,
                                log_rhoy_table, log_temp_table, data,
                                log_rhoy, log_temp, jtab_nuloss);

    entries.gamma = evaluate_vars(irhoy_lo, jtemp_lo,
                                  log_rhoy_table, log_temp_table, data,
                                  log_rhoy, log_temp, jtab_gamma);

    if constexpr (do_T_derivatives) {
        entries.drate_dT =
            evaluate_dr_dtemp(irhoy_lo, jtemp_lo,
                              table_meta, log_rhoy_table, log_temp_table, data,
                              log_rhoy, log_temp);
    }
}

template <int do_T_derivatives, typename R, typename T, typename D>
inline
void
tabular_evaluate(const table_t& table_meta,
                 const R& log_rhoy_table, const T& log_temp_table, const D& data,
                 const Real log_rhoy, const Real log_temp, const Real temp,
                 weak_rate_t& entries)
{

    // Get the table entries at this rhoy, temp

    // get the index into the table -- all components are
    // stored with the same indices

    const int irhoy_lo = interp_net::find_index_extrap(log_rhoy, log_rhoy_table);
    const int jtemp_lo = interp_net::find_index_extrap(log_temp, log_temp_table);

    get_entries<do_T_derivatives>(irhoy_lo, jtemp_lo,
                                  table_meta, log_rhoy_table, log_temp_table, data,
                                  log_rhoy, log_temp, entries);

    // Fill outputs: rate, d(rate)/dT, and (negative) neutrino loss
    // contribution to energy generation

    entries.rate = std::pow(10.0_rt, entries.rate);
    if constexpr (do_T_derivatives) {
        entries.drate_dT = entries.rate * entries.drate_dT / temp;
    } else {
        entries.drate_dT = 0.0;
    }
    entries.enu = -std::pow(10.0_rt, entries.enu);
    entries.gamma = std::pow(10.0_rt, entries.gamma);
}

#endif
