module network
  use physical_constants, only: ERG_PER_MeV
  
  implicit none

  ! Number of nuclear species in the network
  <nspec>(1)

  <nrat_tabular>(1)

  <nrat_reaclib>(1)

  ! Number of entries in reactvec returned by rate_evaluate
  integer, parameter :: nreactvec = 6

  ! Binding Energies Per Nucleon (MeV)
  double precision, dimension(nspec) :: ebind_per_nucleon

  ! Nucleon mass number A
  double precision, dimension(nspec) :: aion

  ! Nucleon atomic number Z
  double precision, dimension(nspec) :: zion
  
  ! Binding Energies (ergs)
  double precision, dimension(nspec) :: ebind

  ! Nuclides
<jion>(1)

  ! Reactions
<nrxn>(1)

  ! reactvec indices
  integer, parameter :: i_rate        = 1
  integer, parameter :: i_drate_dt    = 2
  integer, parameter :: i_scor        = 3
  integer, parameter :: i_dscor_dt    = 4
  integer, parameter :: i_dqweak      = 5
  integer, parameter :: i_epart       = 6

contains

  subroutine init_network()
    integer :: i

<ebind>(2)
    
<aion>(2)

<zion>(2)
    
    do i = 1, nspec
      ebind(i) = ebind_per_nucleon(i) * aion(i) * ERG_PER_MeV
    end do
  end subroutine init_network

end module network
