module network
  use physical_constants, only: ERG_PER_MeV
  
  implicit none

  ! Number of nuclear species in the network
<nspec>(1)

  ! Binding Energies Per Nucleon (MeV)
  double precision, dimension(nspec) :: ebind_per_nucleon

  ! Nucleon mass number A
  double precision, dimension(nspec) :: aion

  ! Nucleon atomic number Z
  double precision, dimension(nspec) :: zion
  
  ! Binding Energies (ergs)
  double precision, dimension(nspec) :: ebind

  ! Nuclides
<jion>(1)

  ! Reactions
<nrxn>(1)
  
contains

  subroutine init_network()
    integer :: i

<ebind>(2)
    
<aion>(2)

<zion>(2)
    
    do i = 1, nspec
      ebind(i) = ebind_per_nucleon(i) * aion(i) * ERG_PER_MeV
    end do
  end subroutine init_network

end module network
