#ifndef NET_RATE_TYPE_H
#define NET_RATE_TYPE_H

#include <concepts>

#include <actual_network.H>

<rate_struct>(0)

template <typename T>
concept RateEvaluation =
    std::same_as<T, rate_t> ||
    std::same_as<T, rate_derivs_t>;

#endif
