#ifndef TEMPERATURE_TABLE_RATES_H
#define TEMPERATURE_TABLE_RATES_H

#include <AMReX_Array.H>

#include <tfactors.H>
#include <actual_network.H>
#include <interp_tools.H>

using namespace amrex::literals;

<temp_table_data>(0)

namespace temp_tabular {

    using namespace Rates;

    <temp_tabular_rate_functions>(1)

}
#endif
