&PROBIN

!! Initial Conditions

  density = 1.0d8
  temperature = 1.0d9

  <initial_mass_fractions>(1)

!! Integration

  run_prefix = "integration"

  end_time = 1.0d-3
  nsteps = 100

!! VODE Parameters

  small_x = 1.0d-16

  burner_verbose = .false.

  ! Set which jacobian to use
  ! 1 = analytic jacobian
  ! 2 = numerical jacobian
  jacobian = 1

  renormalize_abundances = .false.

  rtol_spec = 1.0d-12
  rtol_enuc = 1.0d-9
  atol_spec = 1.0d-12
  atol_enuc = 1.0d-9

/
