name: C++ network

on: [pull_request, workflow_dispatch]
jobs:
  compilation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install pynucastro
        run: pip install .

      - name: Get AMReX
        run: |
          mkdir external
          cd external
          git clone https://github.com/AMReX-Codes/amrex.git
          cd amrex
          git checkout development
          echo 'AMREX_HOME=$(GITHUB_WORKSPACE)/external/amrex' >> $GITHUB_ENV
          echo $AMREX_HOME
          if [[ -n "${AMREX_HOME}" ]]; then exit 1; fi
          cd ../..

      - name: Get Microphysics
        run: |
          cd external
          git clone https://github.com/AMReX-Astro/Microphysics.git
          cd Microphysics
          git checkout development
          cd ../..

      - name: Install dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get -qq -y install curl cmake jq clang g++>=9.3.0

      - name: Regenerate he-burn-19am network
        run: |
          cd external/Microphysics/networks/he-burn/he-burn-19am
          NPY_DISABLE_CPU_FEATURES="AVX512F AVX512CD AVX512_SKX" python he_burn_19am.py

      - name: Compile burn_cell (he-burn-19am)
        run: |
          cd external/Microphysics/unit_test/burn_cell
          make realclean
          make NETWORK_DIR=he-burn/he-burn-19am -j 4

      - name: Run burn_cell (he-burn-19am)
        run: |
          cd external/Microphysics/unit_test/burn_cell
          ./main3d.gnu.ex inputs_subch_simple > test.out

      - name: Compare to stored output (he-burn-19am)
        run: |
          cd external/Microphysics/unit_test/burn_cell
          diff -I "^Initializing AMReX" -I "^AMReX" -I "^reading in reaclib rates" test.out ${GITHUB_WORKSPACE}/.github/workflows/microphysics-benchmarks/he-burn-19am_unit_test.out

      - name: Regenerate ECSN network
        run: |
          cd external/Microphysics/networks/ECSN
          python ecsn.py

      - name: Compile burn_cell (ECSN)
        run: |
          cd external/Microphysics/unit_test/burn_cell
          make realclean
          make NETWORK_DIR=ECSN -j 4

      - name: Run burn_cell (ECSN)
        run: |
          cd external/Microphysics/unit_test/burn_cell
          ./main3d.gnu.ex inputs_ecsn > test.out

      - name: Compare to stored output (ECSN)
        run: |
          cd external/Microphysics/unit_test/burn_cell
          diff -I "^Initializing AMReX" -I "^AMReX" -I "^reading in reaclib rates" test.out ${GITHUB_WORKSPACE}/.github/workflows/microphysics-benchmarks/ecsn_unit_test.out

      - name: Regenerate ase network
        run: |
          cd external/Microphysics/networks/ase
          python ase.py

      - name: Compile nse_net_cell (NSE_NET, ase)
        run: |
          cd external/Microphysics/unit_test/nse_net_cell
          make realclean
          make -j 4

      - name: Run nse_net_cell (NSE_NET, ase)
        run: |
          cd external/Microphysics/unit_test/nse_net_cell
          ./main3d.gnu.ex inputs_ase > test.out

      - name: Compare to stored output (NSE_NET, ase)
        run: |
          cd external/Microphysics/unit_test/nse_net_cell
          diff -I "^Initializing AMReX" -I "^AMReX" -I "^reading in reaclib rates" test.out ${GITHUB_WORKSPACE}/.github/workflows/microphysics-benchmarks/nse_net_unit_test.out
