[UserWarning-file]
# strip out the path to the repository and the line number, so the tests pass
# on any machine and the notebook doesn't need to be updated if we add or
# remove lines in the source file.
regex: ^/.*/(pynucastro/.*\.py:)\d+:(?= UserWarning: )
replace: \1
