name: pydocstyle

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  pydocstyle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: "pip"

      - name: Install pydocstyle
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pydocstyle

      - name: Validate
        run: pydocstyle pynucastro


