name: pylint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  pylint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: "pip"

      - name: Install dependencies + pylint
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install 'pylint>=3.2.0'
          # needed for pynucastro.yt_utils
          pip install unyt

      - name: Install pynucastro
        run: pip install .

      - name: Validate
        run: pylint --output-format=github pynucastro pynucastro/**/tests
