name: pytest-all

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v6

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install pynucastro
        run: pip install --editable .

      - name: Print system info
        run: |
          echo '::group::NumPy'
          pip install threadpoolctl &>/dev/null
          python -c "import sys, numpy; print(numpy.__version__); print(sys.version); print(numpy.show_runtime())"
          echo '::endgroup::'
          echo '::group::CPU info'
          lscpu
          echo '::endgroup::'
          echo '::group::Package versions'
          pip list --format=freeze
          echo '::endgroup::'

      - name: Run tests with pytest
        run: pytest -v -s --nbval --cov=pynucastro --color=yes

      - name: Upload output from failed write_network tests
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: failed_networks_${{ matrix.python-version }}
          path: _test_*/
          if-no-files-found: ignore
          retention-days: 5
